Source: ros-hydro-nav2-driver
Section: misc
Priority: extra
Maintainer: Paul Bovbel <paul@bovbel.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-nav2-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-tf
Description: ROS driver node for the Nav2 base
