Source: ros-hydro-nav2-navigation
Section: misc
Priority: extra
Maintainer: Paul Bovbel <paul@bovbel.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-nav2-navigation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-navigation
Description: ROS navigation config and launch files for Nav2 Robot Platform
